<!DOCTYPE html>
<html>
  <head>
    <title>PairWithMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gradient-to-r from-green-600 to-green-400">
    <%= render partial: 'layouts/navbar' %>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
  <script>
    // temporary work around for errors not rendering from Devise
    document.querySelectorAll('form').forEach(function (el) {
      el.dataset.turbo = false
    })
  </script>
</html>
